

<h2>Step 1: Account Details</h2>

<%= form_for @seller, url: wizard_path, method: :put do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Next" %>
<% end %>
